* {
    font-family: Arial;
}
body {
    margin: 0;
}

header, section, footer {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    background-size: cover;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
}
.namesinger {
    text-align:  center;
}

.text {
    margin-top: 20px;
    font-size: 50px;
}

.subtext {
    margin-top: 20px;
    font-size: 19px;
}

nav{
    display: flex;
    font-size: 25px;
    padding: 20px;
    justify-content: space-between;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: #CC3596;
}
.banner {
    display: flex;
    text-align: center;
}

.banner_desc {
    text-align: center;
    padding: 20px;
    font-size: 19px;
}
.biography {
    text-decoration: none;
}

.biography_title,
.discography_title,
.successes_title {
    background-color: white;
    text-align: center;
    font-size: 42px;
}

.biography_text, 
.discography_text,
.successes_text {
    margin-top: 20px;
    font-size: 19px;
}
p {
    text-indent: 2em;
}
.albuns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.solo {
    padding: 20px;
}
footer {
    font-size: 19px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    margin-left: 10vw;
    margin-right: 10vw;
}
.fonts a {
    text-decoration: none;
    color: #CC3596;
}

@media (max-width:300px) {
    .banner {
        display: flex;
        justify-content: center;
    }
    img {
        width: 75vw;
    }
    nav {
        display: block;
        align-items: flex-start;
        flex-direction: column;
    }
}
@media (max-width: 999px){
    .banner {
        display: flex;
        justify-content: center;
    }
    img {
        width: 75vw;
    }
    nav {
        display: block;
        justify-content: flex-start;
        flex-direction: column;
    }
}
@media (min-width: 1000px){
    .banner {
        display: flex;
        justify-content: center;
    }
    img {
        width: 75vw;
    }
}
