* {
   font-family: Arial; 
}
@font-face {
    font-family: April-June;
    src: url("../fonts/April-June.ttf");
}
@font-face {
    font-family: Queen;
    src: url("../fonts/Queen.otf");
}

body {
    margin: 0;
    background-color:#000; 
}

header, section, footer {
    display: flex;
    flex-direction: column;
    background-color: #FBD872;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
}
.namesinger {
    text-align:  center;
}


.text {
    font-family: April-June;
    color: #555;
    font-weight: bold;
    margin-top: 20px;
    font-size: 60px;
}

.subtext {
    font-family: Queen;
    font-weight: bold;
    margin-top: 20px;
    font-size: 28px;
}

nav{
    display: flex;
    font-size: 25px;
    padding: 20px;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    font-family: April-June;
    font-size: 47px;
    border-bottom: 2px solid #333;
    padding: 20px;
    color: #c59907;
}
.history {
    display:flex;
}
img {
    height: 300px;
}
.banner {
    width: 40vw;
}
.banner_desc {
    margin-left: 20px;
    font-size: 20px;
}

.biography {
    text-decoration: none;
}

.biography_title,
.discography_title,
.successes_title {
    font-family: April-June;
    border-bottom: 2px solid #333;
    text-align: center;
    color: #c59907;
    font-size: 47px;
    margin-top: 20px;
}

.biography_text, 
.discography_text,
.successes_text {
    margin-top: 20px;
    font-size: 20px;
}
p {
    text-indent: 2em;
}
.albuns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.solo {
    padding: 20px;
}
footer {
    font-size: 19px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    margin-left: 10vw;
    margin-right: 10vw;
}
.fonts a {
    text-decoration: none;
    color: #CC3596;
}

@media (max-width:300px) {
    .banner {
        display: flex;
        justify-content: center;
    }
    img {
        width: 75vw;
    }
    nav {
        display: block;
        align-items: flex-start;
        flex-direction: column;
    }
}
@media (max-width: 999px){
    .banner {
        display: flex;
        justify-content: center;
    }
    img {
        width: 75vw;
    }
    nav {
        display: block;
        justify-content: flex-start;
        flex-direction: column;
    }
}
@media (min-width: 1000px){
    .banner {
        display: flex;
        justify-content: center;
    }
    img {
        width: 75vw;
    }
}
